#content2{
    display: grid;
    grid-template-columns: 16px auto 16px;
    grid-template-areas: ". text .";
    padding: 24px 0;
    background-color: var(--white);

    @include md{
        grid-template-columns: auto 90vw auto;
        padding: 48px 0;
    }

    @include lg{
        grid-template-columns: auto 80vw auto;
        padding: 64px 0;
    }

    @include xxl{
        grid-template-columns: auto 1440px auto;
    }

    >div{
        grid-area: text;
        grid-template-columns: 50% auto;
        grid-template-areas: "img2 paragraph2";
                    display: flex;
            justify-content: center;
            align-items: center;
            padding: 16px;

        @include md{
            display: grid;
            grid-template-columns: 50% auto;
        }

        



            #img2{
                padding: 16px;
                grid-area: paragraph2;

                aside{
                    height: 100vh;
                    width: 50vh;
                    overflow: hidden;
        
                    @include md{
                        height: 70vh;
                    }
        
                    >div{
                        background-image: url("../img/pillars-of-creation.jpg");
                        background-size: cover;
                        background-position: center;
                        height: 100%;
                    }
                }
            }

            #paragraph2{
                padding: 16px;
                grid-area: img2;
                text-align: right;
                
                h1{
                    font-weight: 300;
                    font-size: rem-calc(50);
                    
                }
    
                
            }



        
    }
}